---
import Card from '../../../components/Card.astro'

const { activities, theme } = Astro.props
---
<Card metadata={{title: "Currently I am..."}} classes={["post currently"]} theme={ theme }>
  {
    activities ? 
      <ul class="list">
        {
          activities.map(activity => (
            <li class="list-item">
              {
                activity.link ? 
                  <span>{activity.activity}</span> <a href={activity.link.url}>{activity.link.text}</a> : 
                  <span>{activity.activity}</span>
              } 
            </li>
          ))
        }
      </ul>    
    : ""
  }
</Card>