---
import urlForImage from './urlForImage';

const {asset, alt, size} = Astro.props.node

const imageSize = size ? size : 300
const renderedURL = asset ? urlForImage(asset).width(imageSize).format('webp').url() : ""
const sourceUrl = asset ? urlForImage(asset).url() : ""

---
{ asset ? 
  <div class="picture">
    <a href={sourceUrl}>
      <picture>
        <source
          srcset={renderedURL}
          type="image/webp"
        />
        <img
          src={renderedURL}
          alt={alt}
        />
      </picture>
    </a>
  </div>
: ""}
