---
import { sanityClient } from "sanity:client";

import Page from '../layouts/Page.astro'
import Card from '../components/Card.astro'
import Post from "../components/Post.astro";

const site = await sanityClient.fetch(`*[_type == "settings"][0]`);
---
<Page title="home" classes={["home"]} >

  <section class="full-width">

    <Card metadata={{title: site.about.title}} classes={["post welcome"]} >

      <Post blocks={site.about.blocks} />
      
    </Card>

  </section>

</Page>