---
import { sanityClient } from "sanity:client";

import Page from '../layouts/Page.astro'
import Card from '../components/Card.astro'
import Post from "../components/Post.astro";
import Feed from '../components/Feed.astro'
import Roster from '../components/Roster.astro'

const site = await sanityClient.fetch(`*[_type == "settings"][0]`)
const artists = await sanityClient.fetch(`*[_type == "artist"] | order(lower(name) asc)`)
const posts = await sanityClient.fetch(`*[_type == "post"] {..., author->} | order(_createdAt desc)`)
---
<Page title="home" classes={["home"]}>

  <section class="full-width">
    <Card 
      metadata={{title: site.welcome.title}}
      classes={["post welcome"]}
      theme={ site.blog_theme.post }
    >
      <Post blocks = {site.welcome.blocks} />
    </Card>
  </section>

  <section class="sidebar">
    <Card
      metadata={{title: site.roster.title }}
      classes={["roster"]}
      theme={ site.blog_theme.post }
    >
      <Roster artists = { artists }/>
    </Card>
  </section>

  <section class="feed">
    <Feed posts = { posts } />
  </section>

</Page>