---
import buildTheme from '../sanity/buildTheme'
import moment from 'moment';

const { 
  metadata = {
    title: "Card",
    icon: "none",
  },
  classes,
  theme
} = Astro.props

let theme_variables = {}

if (theme) {
  theme_variables = buildTheme({card: theme}).reduce((acc, obj) => ({...acc, [obj.key]: obj.value}), {})
}

---
<article class={`card ${classes ? classes.join(' ') : ""}`} >

  <style define:vars={theme_variables} />

    <div class="card-header">

      {metadata.icon ? <img class="card-icon" src={metadata.icon} /> : ""}

      <div class="card-info">

        <h1 class="card-title">

          { metadata.link ? 
              <a class="card-link" href={ metadata.link }>
                { metadata.emoticon ? <img src={`/images/emoticons/${metadata.emoticon}`}/> : ''} { metadata.title }
              </a> 
              : 
              <span class="card-name">
                { metadata.emoticon ? <img src={`/images/emoticons/${metadata.emoticon}`}/> : ''} { metadata.title }
              </span>
          }

        </h1>

        {
          metadata.date ? 
            <div class="card-date">{moment(new Date(metadata.date)).format('MMM D, YYYY @ h:mma') }</div> :
            ""
        }

      </div>
      
    </div>

    <div class="card-body">

      <slot />

    </div>

  </div>

</article>