---
import Post from './Post.astro';
import slugify from '../util/slugify'
import urlForImage from "../sanity/urlForImage";

import Card from './Card.astro'

const { posts } = Astro.props
---
<>
  {posts.length > 0 ? posts.map(post => (
    <Card
      metadata = {{
        title: post.author.name,
        date: post._createdAt,
        link: post.author.name !== "angelcities" ? `/artist/${slugify(post.author.name)}` : null,
        icon: urlForImage(post.author.photo).fit("crop").crop("center").size(25, 25).url()
      }}
      classes={["post"]}
      theme = { post.author.blog_theme.post ? post.author.blog_theme.post : {}}
    >
    <Post blocks = {post.blocks} />
    </Card>
  )) : 
    <Card
      metadata = {{
          title: "???",
          date: "",
          icon: "empty",
        }}
      classes = {["post"]}
    >
      <p>So no posts? T_T</p>
    </Card>
  }
</>