---
import { PortableText as PortableTextInternal } from 'astro-portabletext'
import PortableTextImage from "../sanity/PortableTextImage.astro";
import PortableTextEmbed from '../sanity/PortableTextEmbed.astro';

const { blocks } = Astro.props
const components = {
  type: {
    image: PortableTextImage,
    embed: PortableTextEmbed
  }
}

---
<>
  {blocks? 
    blocks.map(block => {

      const mediaFilter = block.content.filter(obj => { return obj._type === 'image' || obj._type === 'embed'})
      const isSingle = mediaFilter.length !== 0 && block.content.length == 1 ? true : false

      return <div class={ isSingle ? 'single' : '' }>
        <PortableTextInternal value={block.content} components={components}/>
      </div>

    })
    : ""
  }
</>