---
import urlForImage from "../sanity/urlForImage";

const { badges } = Astro.props
---
<div class="badges">
  
  {
    badges ? 
      badges.map(badge => ( <img src={urlForImage(badge).url()} /> )) :
      ""
  }
  
</div>