---
---
<footer class="footer">
  <div class="footer-wrapper">
      <a class="footer-logo" href="/">
        <img src="/logo/logo.gif" />
      </a>
      <span class="footer-copyright">© 2024 angelcities. all rights reserved.</span>
  </div>
</footer>