---
import Navigation from './Navigation.astro'
---
<header>
  <div class={`banner`}>
    <a class="banner-logo" href="/">
      <img src="/logo/logo.gif" width="150"/>
    </a>    
  </div>
</header>