---
const { links, sotd } = Astro.props
---
<nav class="full-width">

  <ul class="menu list">

    <li class="list-item">

      <a href="/">home</a> 

    </li>

    {
      links ? 
        links.map(link => (
          <li class="list-item">
            {
              link.url ? 
                <a href={link.url}>{link.text}</a> : 
                <span>{link.text}</span>
            }       
          </li>
         )) :
         ""
    }

  </ul>

  <div class="sotd" set:html={ sotd.embed }></div>

</nav>