---
import '../styles/scss/main.scss'

import { sanityClient } from "sanity:client";

import buildTheme from '../sanity/buildTheme'

import Header from '../layouts/Header.astro'
import MiniHeader from '../layouts/MiniHeader.astro'
import Footer from '../layouts/Footer.astro'

const site = await sanityClient.fetch(`*[_type == "settings"][0]`);

const { title, classes, theme = site.blog_theme.site } = Astro.props

let theme_variables = {}

if (theme) {
  theme_variables = buildTheme({site: theme}).reduce((acc, obj) => ({...acc, [obj.key]: obj.value}), {})
}
---
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>angelcities | {title}</title>
    <style define:vars={ theme_variables}/>
  </head>
  
  <body class={`page ${classes ? classes.join(' ') : ""}`}>

    <div class="wrapper">

      { 
        title == "home" ? 
          <Header links={site.navigation.links} badges={ site.navigation.badges }/> :
          <MiniHeader />
      }
      
      <main><slot /></main>

      <Footer />

    </div>
   
  </body>

</html>